<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/jquery.dataTables.min.css" rel="stylesheet">
	<title>{{title}}</title>

	<script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/js/jquery.checkinout.js"></script>

	<style>

		html, body, div {
			height: 100%;
			padding: 0px;
			border: 1px solid black;
		}


		html {
			min-width: 320px;
		}

		.menu {
			height: 10%;
		}

		.content {
			height: 90%;
		}

		.container-fluid {
			padding: 5px;
		}

		.vcenter {
			display: inline-block;
			vertical-align: middle;
			line-height: 26px;
		}

		.check-in-spacing {
			padding-left: 0px;
		}

		.login {
			padding-top: 30%;
			padding-left: 15%;
		}

		.current-data {
			padding-top:30%;
			height: auto;
		}


	</style>
</head>
<body>
    {{{body}}}
  </body>
</html>
